<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Basics (Good)</span></div>

## 1 More Python Basics

### 1.1 Computers read = from Right to Left!

In [5]:
x = 20
y = x + 5
print(y)

z = x + y
print(z)

25
45

### 1.2 Shorter and cleaner

In [10]:
y = 30
y += 3
y

33

In [12]:
z = 2
z -= 1
z

1

In [11]:
x = 40
x /= 2    # Same as y = y/2
x

20.0

In [13]:
t = 2
t *= 5
t

10

### 1.3 Asking questions

In [19]:
fruits = ["apple", "banana", "pineapple", "jackfruit"]
vegetables = ["celery", "potato", "broccoli", "kale"]

"apple" in fruits

"peach" in fruits

("apple" in fruits) and ("celery" in vegetables)

("apple" in fruits) or ("celery" in vegetables)

'apples' > 'oranges'

False

### 1.4 There is more to if

In [24]:
if name == 'Batman':
    print('Hello Hero | Batman!')
elif name == 'Robin':
    print('Hello Sidekick | Robin!')
else:
    print('Hello World!')
    
name = 'Robin'

Hello Sidekick | Robin!

### 1.5 Python stores information in different formats or types.

In [34]:
x = int(1.234) #drop decimal place
print(x)
print(x, type(x))

y = str(1.234) #as an english word
print(y, type(y))

z = float(1.234) #as a decimal number
print(z, type(z))

a = complex(1.234) #as a complex number, include imaginary part
print(a, type(a))

1
1 <class 'int'>
1.234 <class 'str'>
1.234 <class 'float'>
(1.234+0j) <class 'complex'>

In [37]:
x = '1.234'
print(x, type(x))

x = float(x)
print(x, type(x))

#typecasting (cast x into the type float)

1.234 <class 'str'>
1.234 <class 'float'>

### 1.6 Combining English and variables

In [43]:
name = "Batman"

print(f"Hello {name}!")

print(f"Hello {name.upper()}!")

x = 10
print(f"The value of {x} squared is {x**2}!")

Hello Batman!
Hello BATMAN!
The value of 10 squared is 100!

In [45]:
text = 'Bruce Wayne is Batman.'
print(f'{text}')

print(f'{text:>30}')      # A block of 30 characters; aligned right

print(f'{text:^30}')      # A block of 30 characters; aligned centre

print(f'{text:<30}')      # A block of 30 characters; aligned left

Bruce Wayne is Batman.
        Bruce Wayne is Batman.
    Bruce Wayne is Batman.
Bruce Wayne is Batman.

In [48]:
print(f'The cube of pi to 6 decimal places is {np.pi**3:.6f}')
# f - decimal notation

print(f'The cube of pi to 6 decimal places is {np.pi**3:.6e}')
# e _ scientific notation

The cube of pi to 6 decimal places is 31.006277
The cube of pi to 6 decimal places is 3.100628e+01

### 1.7 Python can be a prima-donna.

In [50]:
Print () #scroll to the end to see the real problem

NameError: name 'Print' is not defined

## 2 Best Practices for Scientific Computing

### 2.1 Some tips

In [ ]:

# Your code here

### 2.2 Getting help.

In [51]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Exercise 1 :  Bias for some heroes

In [108]:
if name == 'Batman':
    print ('hello BATMAN')
    
elif name == 'Black Widow':
    print ('hello BLACK WIDOW')
    
else:
    print (f"Hello {name.upper()}")

name = 'hi'

Hello HI

In [124]:
if name == 'Batman' or 'Black Widow':
    print (f"Hello {name.upper()}")
    
else: 
    print (f"Hello {name.upper()}")
    
name = 'Black Widow'

name = 'Batman'

name = 'hello'

Hello HELLO

In [57]:
def hello(name):
    if name == "Batman":
        print("Hello Batman!")
    else:
        print("Hello World!")
        
hello("Batman")

hello("Black Widow")

hello ("Aqua Man")

#function works as intended

Hello Batman!
Hello World!
Hello World!

## Exercise 2 :  Bias for some heroes, continues

In [105]:
def hello(name):
    name = name.upper()
    if name == "BATMAN":
        print('Hello Batman!')
    else:
        print("Hello World!")
        
hello('batman')

hello('batMan')

hello ('hi')

Hello Batman!
Hello Batman!
Hello World!

## Exercise 3 :  Look for help to replace

In [83]:
text = 'The Joker lives in Gotham City.'

new_text = text.replace("Joker", "Batman")

print(text)

print (new_text)

The Joker lives in Gotham City.
The Batman lives in Gotham City.